/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Component Styles
===================================== */

/* 1. Global Styles
===================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    font-size: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-right {
    float: right;
}

:root {
    --type-serif: 'PT Serif', 'Times New Roman', Times, serif;
    --type-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
    --clr-black: #212121;
    --clr-white: #fff;
}

/* 2. Typography Styles
===================================== */
h1,
h2,
h3,
h4,
h5,
h6,
nav li,
p {
    font-family: var(--type-serif);
    color: var(--clr-black);
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

/* 3. Structure Styles
===================================== */
main {
    /* margin: 69px 20px 0 20px; */
}

/* 4. Section Styles
===================================== */
/* NavBar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 69px;
}

nav a {
    text-decoration: none;
    color: var(--clr-black);
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 16px;
    font-family: var(--type-sans-serif);
    border: 2px solid var(--clr-black);
}

nav .logo:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

nav ul {
    display: inline-flex;
    align-items: center;
    /* gap: 40px; */
}

nav li {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    font-family: var(--type-sans-serif);
}

nav li a:hover {
    /* text-decoration: underline; */
    background-color: var(--clr-black);
    color: var(--clr-white);
}

@media screen and (max-width: 575px) {
    nav {
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    nav .logo {
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 475px) {
    nav li {
        font-size: 12px;
    }
}

/* Header */
header {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    background-image: url("img/img-mission-background.webp");
    background-size: cover; */
}

.products {
    /* width: 1000px;
    height: auto;
    background-color: black; */
}

.locations {
    /* height: 600px;
    width: 100%;
    background-image: url("img/img-locations-background.webp");
    background-size: cover; */
}

.about {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; */
}

/* Footer */
footer {
    /* padding: 20px; */
}

/* 5. Component Styles
===================================== */

